<log4net>

    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">

        <!--<param name="File" value="C:\Users\User1\Documents\Visual Studio 2010\Projects\TestCSharpApp\TestCSharpApp\Log\Log4NetExample-2.log"/>-->        
        <param name="File" value="C:\Users\Steve\Documents\Visual Studio 2010\Projects\TestCSharpApp\TestCSharpApp\Log\Log4NetExample.log"/>
        <!--<param name="File" value="D:\log4\crap.log"/>-->

        <layout type="log4net.Layout.PatternLayout">

            <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>

        </layout>

    </appender>

    <root>

        <level value="All"/>

        <appender-ref ref="LogFileAppender"/>

    </root>

</log4net>
